{% extends 'master.html' %} 
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">لیست افراد </h4>
                <p class="card-category"> {{count}} فرد پیدا شد</p>
            </div>
            <div class="card-body">
                {% if count %}

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class=" text-primary">
                            <th>
                                ردیف
                            </th>
                            <th>
                                نام
                            </th>
                            <th>
                                جنسیت
                            </th>
                            <th colspan="2">
                                عملیات
                            </th>
                        </thead>
                        <tbody>
                            {% for person_object in persons_objects %}
                            <tr>
                                <td>{{ person_object.id }}</td>
                                <td><a href="{% url 'show_person' person_object.id %}">{{ person_object.name }}</a></td>
                                <td>{{ person_object.sex_name }}</td>
                                <td align="center">
                                    <a href="{% url 'edit_person' person_object.id %}" class="btn btn-outline-success btn-sm">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                                <td align="center">
                                    <form action="{% url 'delete_person' person_object.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure?');">
                                            <i class="material-icons text-danger">delete</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                 {% else %}
                 <div class="alert alert-warning">
                    <i class="material-icons text-white mr-2">warning</i>
                     موردی یافت نشد
                 </div> 
                {% endif %}
            </div>

            <a href="{% url 'create_person' %}" class="btn btn-round btn-fill btn-info">
                <h4>اضافه کردن فرد جدید</h4>
                <div class="ripple-container">

                </div>
                <i class="material-icons">add</i>
            </a>
            <hr>

            <!-- paginator of the table -->

            {% include "paginator/paginator.html" %}
            
               <!-- end of paginator  -->
        </div>
    </div>
</div>
{% endblock content %}