{% extends "master.html" %}
{% block content %}
    <div class="card">
        <div class="card-header card-header-primary">
			<h4 class="card-title "> {{task.title}} </h4>
		</div>
        <div class="card-body">
            <p> {{task.description}} </p>
            <hr>
            <form class="row justify-content-center" action="{% url 'assign' task.id %}" method="POST">
                {% csrf_token %}
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="person"> شخص مورد نظر را انتخاب کنید </label>
                        <select class="form-control" name="person_id" id="person" required>
                            <option value=""> -- انتخاب کنید -- </option>
                            {% for person in persons  %}
                                <option value="{{person.id}}" {% ifequal person.id task.assigned_id %} selected {% endifequal %} >
                                    {{person.name}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="w-100 my-2"></div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block"> الحاق کردن </button>
                </div>
            </form>
            <div class="text-left">
                <a href="#" class="btn btn-info btn-round">
                    <i class="material-icons mr-2">check</i> علامت زدن به عنوان انجام شده
                </a>
                <a href="{% url 'edit_task' task.id %}" class="btn btn-success btn-round">
                    <i class="material-icons mr-2">edit</i> ویرایش
                </a>
                <a href="#" class="btn btn-danger btn-round">
                    <i class="material-icons mr-2">delete</i> حذف
                </a>
            </div>
        </div>
    </div>
{% endblock %}
