{% extends 'master.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">لیست وظایف </h4>
                <p class="card-category"> {{ count }} وظیفه پیدا شد</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class=" text-primary">
                            <th>
                                ردیف
                            </th>
                            <th>
                                عنوان
                            </th>
                            <th>
                                توضیحات
                            </th>
                            <th>
                                وضعیت
                            </th>
                            <th>
                                تاریخ
                            </th>
                            <th colspan="2">
                                عملیات
                            </th>
                        </thead>
                        <tbody>
                            {% for tasks_object in tasks_objects %}
                            <tr>
                                <td>{{ tasks_object.id }}</td>
                                <td><a href= "{% url 'show_task' tasks_object.id %}">{{ tasks_object.title }}</a></td>
                                <td>{{ tasks_object.description }}</td>
                                <td>
                                    {% if tasks_object.done %}
                                    <i class="material-icons text-success">done</i> {% else %}
                                    <i class="material-icons text-danger">clear</i> {% endif %}
                                </td>
                                <td>{{ tasks_object.created_at|date:"Y-m-d" }}</td>
                                <td align="center">
                                <a href="{% url 'edit_task' tasks_object.id %}">
                                <i class="material-icons">edit</i>
                                </a>
                                </td>
                                <td align="center">
                                <a href="#">
                                <i class="material-icons text-danger">delete</i>
                                </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <a target="_blank" href="{% url 'create_task' %}" class="btn btn-round btn-fill btn-info"><h4>ایجاد وظیفه ی جدید</h4><div class="ripple-container">
              
            </div>
            <i class="material-icons">add</i>
            </a>
            <hr>
      
                </div>
            </footer>
        </div>
    </div>

{% endblock content %}