<div class="card">
    <div class="card-body">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                <!-- check for the prvoius option should be active or not  -->

                {% if page.has_previous %}

                <li class="page-item">
                    <a class="page-link" href="{% url 'list' %}?page={{ page.previous_page_number }}" tabindex="-1">قبلی</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1">قبلی</a>
                </li>
                {% endif %}

                <!-- create numbers and their link  -->

                {% for page_number in paginator.page_range %}

                <li class="page-item {% if current_page == page_number %}active{% endif %}">
                    <a class="page-link" href="{% url 'list' %}?page={{ page_number }}">{{ page_number }}</a>
                </li>

                {% endfor %}

                <!-- check for the next option should be active or not  -->

                {% if page.has_next %}

                <li class="page-item">
                    <a class="page-link" href="{% url 'list' %}?page={{ page.next_page_number }}">بعدی</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">بعدی</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>